footer{
    background: gray;
    height: 100vh;
}
footer .container{
    width: 50%;
    background-color: green;
}
.input{
    background-color: greenyellow;
}
.input label{
    font-size: 25px;
    font-weight: bold;
}
.I-text{
    width: 600px;

}
.I-phone,.I-email{
    float: left;
    width: 300px;
}
.input input{
    width: 100%;
}


